body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #323643;
}

.App{
  margin: 100px 200px;
  color: #f7f7f7;
}

h1, h2, h3{
  color: #f7f7f7;
}

/* TODO item */
.completed{
  text-decoration: line-through;
}